<!DOCTYPE html>

<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:hidden="http://www.w3.org/1999/xhtml">

<head>
    <title>Miraculous - Online Music Platform</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Music">
    <meta name="keywords" content="">
    <meta name="author" content="kamleshyadav">
    <meta name="MobileOptimized" content="320">
      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/plugins/swiper/css/swiper.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/plugins/nice_select/nice-select.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/plugins/player/volume.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'js/plugins/scroll/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Favicon Link -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>
<!----Loader---->
<div class="ms_inner_loader">
    <div class="ms_loader">
        <div class="ms_bars">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
</div>
<!----Main Wrapper Start---->
<div class="ms_main_wrapper">
    <!---Header--->
    <div class="ms_header">
        <div class="ms_top_left">
                    <div class="ms_top_search">
                        <form action="/search/" method="GET">
                        <input type="text" name="search_text" class="form-control" placeholder="Search Music Here..">
                        <span class="search_icon">
                            {% load static %}
                            <input type="image" src="{% static 'images/svg/search.svg' %}" alt="Submit Form" />

						</span>
                            </form>
                    </div>
        </div>
        <div class="ms_top_right">
            <div class="ms_top_lang">
                <span data-toggle="modal" data-target="#lang_modal">languages <img src="{% static 'images/svg/lang.svg' %}"
                                                                                   alt=""></span>
            </div>
            <div class="ms_top_btn">
                <a href="javascript:;" class="ms_btn reg_btn" data-toggle="modal"
                   data-target="#myModal"><span>register</span></a>
                <a href="javascript:;" class="ms_btn login_btn" data-toggle="modal"
                   data-target="#myModal1"><span>login</span></a>
            </div>
        </div>
    </div>
    <!---Side Menu Start--->
    <div class="ms_sidemenu_wrapper">
        <div class="ms_nav_close">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
        <div class="ms_sidemenu_inner">
            <div class="ms_logo_inner">
                <div class="ms_logo">
                    <a href="/musicplayer_app">
                        {% load static %}
                        <img src="{% static 'images/logo.png' %}" alt="" class="img-fluid"/></a>
                </div>
                <div class="ms_logo_open">
                    <a href="/musicplayer_app">
                        {% load static %}
                        <img src="{% static 'images/open_logo.png' %}" alt="" class="img-fluid"/></a>
                </div>
            </div>
            <div class="ms_nav_wrapper">
                <ul>
                    <li><a href="/musicplayer_app" title="Home">
						<span class="nav_icon">
							<span class="icon icon_discover"></span>
						</span>
                        <span class="nav_text">
							home
						</span>
                    </a>
                    </li>
<!--                    <li><a href="album.html" title="Albums">-->
<!--						<span class="nav_icon">-->
<!--							<span class="icon icon_albums"></span>-->
<!--						</span>-->
<!--                        <span class="nav_text">-->
<!--							albums-->
<!--						</span>-->
<!--                    </a>-->
<!--                    </li>-->
                    <li><a href="/artists" class="active" title="Artists">
						<span class="nav_icon">
							<span class="icon icon_artists"></span>
						</span>
                        <span class="nav_text">
							artists
						</span>
                    </a>
                    </li>
                    <li><a href="/genres" title="Genres">
						<span class="nav_icon">
							<span class="icon icon_genres"></span>
						</span>
                        <span class="nav_text">
							genres
						</span>
                    </a>
                    </li>
<!--                    <li><a href="top_track.html" title="Top Track">-->
<!--						<span class="nav_icon">-->
<!--							<span class="icon icon_tracks"></span>-->
<!--						</span>-->
<!--                        <span class="nav_text">-->
<!--							top tracks-->
<!--						</span>-->
<!--                    </a>-->
<!--                    </li>-->
<!--                    <li><a href="free_music.html" title="Free Music">-->
<!--						<span class="nav_icon">-->
<!--							<span class="icon icon_music"></span>-->
<!--						</span>-->
<!--                        <span class="nav_text">-->
<!--							free music-->
<!--						</span>-->
<!--                    </a>-->
<!--                    </li>-->
<!--                    <li><a href="stations.html" title="Stations">-->
<!--						<span class="nav_icon">-->
<!--							<span class="icon icon_station"></span>-->
<!--						</span>-->
<!--                        <span class="nav_text">-->
<!--							stations-->
<!--						</span>-->
<!--                    </a>-->
<!--                    </li>-->
                </ul>
                <ul class="nav_downloads">
<!--                    <li><a href="download.html" title="Downloads">-->
<!--						<span class="nav_icon">-->
<!--							<span class="icon icon_download"></span>-->
<!--						</span>-->
<!--                        <span class="nav_text">-->
<!--							downloads-->
<!--						</span>-->
<!--                    </a>-->
<!--                    </li>-->
                    {% if not is_listener %}
                    <li><a href="/get_assets" title="Get Royalty">
						<span class="nav_icon">
							<span class="icon icon_purchased"></span>
						</span>
                        <span class="nav_text">
							get royalty
						</span>
                    </a>
                    </li>
                    {% endif %}
<!--                    <li><a href="favourite.html" title="Favourites">-->
<!--						<span class="nav_icon">-->
<!--							<span class="icon icon_favourite"></span>-->
<!--						</span>-->
<!--                        <span class="nav_text">-->
<!--							favourites-->
<!--						</span>-->
<!--                    </a>-->
<!--                    </li>-->
<!--                    <li><a href="history.html" title="History">-->
<!--						<span class="nav_icon">-->
<!--							<span class="icon icon_history"></span>-->
<!--						</span>-->
<!--                        <span class="nav_text">-->
<!--							history-->
<!--						</span>-->
<!--                    </a>-->
<!--                    </li>-->
                </ul>
                <ul class="nav_playlist">
                    {% if not is_listener %}
                    <li><a href="/upload" title="Upload new Musicَ">
						<span class="nav_icon">
							<span class="icon icon_c_playlist"></span>
						</span>
						<span class="nav_text">
							Add new music
						</span>
						</a>
                    </li>
                    {% endif %}
                    {% if is_listener %}
                    <li><a href="/my_playlists">
						<span class="nav_icon">
							<span class="icon icon_fe_playlist"></span>
						</span>
                        <span class="nav_text">
							playlists
						</span>
                    </a>
                    </li>
                    <li><a href="/add_playlist" class="active">
						<span class="nav_icon">
							<span class="icon icon_c_playlist"></span>
						</span>
                        <span class="nav_text">
							create playlist
						</span>
                    </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!----Album Single Section Start---->
    <div class="ms_album_single_wrapper ms_artist_single">
        <div class="album_single_data">
            <div class="album_single_img">
                <img style="margin:28px 0px 0px 0px;" src="/media/{{music.cover.name}}" alt="" class="img-fluid">
            </div>
            <div class="album_single_text">
                <h2>{{music.name}}</h2>
                <p class="singer_name">{{music.Album_name}}</p>

                    <p>{{music.num_stars}} Stars </p>

                <br>

                    <a href="#">{{music.artist}} </a>

                <br>

                <div class="album_btn">
                    <a onclick="play_and_pause()" href="#" class="ms_btn play_btn"><span id="play" class="play">
                        <img   src="{% static 'images/svg/play_all.svg' %}" alt="">Play </span>


                        <span  id="pause"  hidden="true" class="play">
                        <img   src="{% static 'images/svg/pause_all.svg' %}" alt="">Pause </span>

                    <audio id="audio_payer" controls hidden="true" ><source src="/media/{{music.file.name}}" type="audio/mpeg" ></audio>

                            </a>
                    <a href="#" class="ms_btn"><span class="play_all"><img src="{% static 'images/svg/add_q.svg' %}" alt="">Add To Playlist</span> </a>




                </div>
                <div style="margin:0px 0px -20px 0px;" class="album_btn">
                  <div class="jp_quality_optn custom_select">
                         <select onchange="changeQ({{music.id}})" id ="Quality">
						<option value="1">Low</option>
						<option value="2" selected>medium</option>
						<option value="3" >High</option>
						<option value="4">HD</option>
					</select>
                                </div>
                                </div>


            </div>
            <div class="album_more_optn ms_more_icon">
                <span><img src="{% static 'images/svg/more.svg' %}" alt=""></span>
            </div>
            <ul class="more_option">
                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
                </li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                {% if user.is_superuser %}
                <li><a  href="/download/?id={{music.id}}" ><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>

        {% endif%}
                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a>
                </li>
                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
            </ul>
        </div>
        <!----Song List---->

    </div>
    <!---Main Content Start--->
    {% if same_album_musics.0 %}
    <div class="ms_content_wrapper ms_artist_content">
        <div class="ms_featured_slider">
            <div class="ms_heading">
                <h1>Similar Album</h1>
                <span class="veiw_all"><a href="#">view more</a></span>
            </div>
            <div class="ms_relative_inner">
                <div class="ms_feature_slider swiper-container">
                    <div class="swiper-wrapper">

                        {% for mu in same_album_musics %}
                        <div class="swiper-slide">
                            <div class="ms_rcnt_box">
                                <div class="ms_rcnt_box_img">
                                    <img src="/media/{{mu.cover.name}}" alt="">
                                    <div class="ms_main_overlay">
                                        <div class="ms_box_overlay"></div>
                                        <div class="ms_more_icon">
                                            <img src="{% static 'images/svg/more.svg' %}" alt="">
                                        </div>
                                        <ul class="more_option">
                                            <li><a href="#"><span class="opt_icon"><span
                                                    class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                                To Queue</a></li>
                                            <li><a href="#"><span class="opt_icon"><span
                                                    class="icon icon_dwn"></span></span>Download Now</a></li>
                                            <li><a href="#"><span class="opt_icon"><span
                                                    class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a>
                                            </li>
                                        </ul>
                                        <div class="ms_play_icon">
                                            <a href="/music_single_page/?id={{mu.id}}"> <img src="{% static 'images/link.png' %}" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ms_rcnt_box_text">
                                    <h3><a href="#">{{mu.name}}</a></h3>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next1 slider_nav_next"></div>
                <div class="swiper-button-prev1 slider_nav_prev"></div>
            </div>
        </div>

        <!----Main div close---->
    </div>
    {% endif%}
    <!----Footer Start---->
    <div class="ms_footer_wrapper">
        <div class="ms_footer_logo">
                <a href="/musicplayer_app"><img src="{% static 'images/open_logo.png' %}" alt=""></a>
            </div>
            <div class="ms_footer_inner">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer_box">
                            <h1 class="footer_title">miraculous music platform</h1>
                            <p>The  Miraculous is a platform for sharing and streaming a broad range of certified music. The Miraculous was prepared by the order of "Automated Software Engineering Laboratory" of the Sharif University of Technology. You can listen to your favorite music, and by activating your premium account, you can download them.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer_box footer_subscribe">
                            <h1 class="footer_title">Contact Us</h1>
                            <p>Feel free to contact us for any suggestions or critics. <br/>E-mail: admin@miraculous.com</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer_box footer_app">
                            <h1 class="footer_title">about us</h1>
                            <p>The  Miraculous is the final project of the "System Analysis and Design" course, presented by Prof. Abbas Heidarnouri. The developers of this system are Atena Saghi, Zahra Fazel, and Mahdi Ghaznavi. The supervisor of this project is Ali Mousavi.</p>
<!--                            <a href="#" class="foo_app_btn"><img src="images/google_play.jpg" alt="" class="img-fluid"></a>-->
<!--                            <a href="#" class="foo_app_btn"><img src="images/app_store.jpg" alt="" class="img-fluid"></a>-->
<!--                            <a href="#" class="foo_app_btn"><img src="images/windows.jpg" alt="" class="img-fluid"></a>-->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer_box footer_contacts">
                            <h1 class="footer_title">Developers</h1>
                            <ul class="foo_con_info">
                                <li>
                                    <div class="foo_con_icon">
                                        <img src="/media/saghi.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="foo_con_data">
<!--                                        <span class="con-title">Call us :</span>-->
                                        <span>Atena Saghi</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="foo_con_icon">
                                        <img src="/media/fazel.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="foo_con_data">
                                        <span>Zahra Fazel</span>
<!--                                        <span class="con-title">email us :</span>-->
<!--                                        <span><a href="#">demo@mail.com </a>, <a href="#">dummy@mail.com</a></span>-->
                                    </div>
                                </li>
                                <li>
                                    <div class="foo_con_icon">
                                        <img src="/media/ghaznavi.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="foo_con_data">
<!--                                        <span class="con-title">walk in :</span>-->
                                        <span>Mahdi Ghaznavi</span>
                                    </div>
                                </li>
                            </ul>
<!--                            <div class="foo_sharing">-->
<!--                                <div class="share_title">follow us :</div>-->
<!--                                <ul>-->
<!--                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!----Copyright---->
            <div class="col-lg-12">
                <div class="ms_copyright">
                    <div class="footer_border"></div>
                    <p>Copyright &copy; 2018 <a href="https://www.mellatweb.com/"> Mellatweb.com</a></p>
                </div>
            </div>
    </div>

<!----Queue Clear Model ---->
<div class="ms_clear_modal">
    <div id="clear_modal" class="modal  centered-modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa_icon form_close"></i>
                </button>
                <div class="modal-body">
                    <h1>Are you sure you want to clear your queue?</h1>
                    <div class="clr_modal_btn">
                        <a href="#">clear all</a>
                        <a href="#">cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--Main js file Style-->



<script>

function changeQ(musicId){
var select = document.getElementById('Quality');
var value = select.options[select.selectedIndex].value;


        $.ajax({
              type: "POST",
             url: "/play_single_with_quality/",
             datatype:"json",
           data: {
                  csrfmiddlewaretoken:'{{ csrf_token }}',
                 "quality": value,
                 "musicid":musicId
             },

    success: function(data){
        console.log("success");
        console.log("alaki", data);
        newdata = JSON.parse(data);
        console.log("alaki22",newdata);
        path =  newdata["file"];
        document.getElementById('audio_payer').src="/media/"+path;


    },
    failure: function(data){
        console.log("failure");
        console.log(data);
    },
});

}

function play_and_pause(id){


    var song =  document.getElementById('audio_payer');
    console.log("dd");

    if (song.paused)
      {

       song.play();
       document.getElementById("play").hidden=true;
      document.getElementById("pause").hidden=false;


    }
    else{
    song.pause();
    document.getElementById("pause").hidden=true;
    document.getElementById("play").hidden=false;


}

    }


function check(id){
console.log(user.is_superuser)

}


</script>


    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/swiper/js/swiper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/player/jplayer.playlist.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/player/jquery.jplayer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/player/audio-player.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/player/volume.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/nice_select/jquery.nice-select.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/plugins/scroll/jquery.mCustomScrollbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
</body>
</html>
