
<!DOCTYPE html>
<html>

<head>
    <title>Miraculous - Online Music Platform</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Music">
    <meta name="keywords" content="">
    <meta name="author" content="kamleshyadav">
    <meta name="MobileOptimized" content="320">
    <!--Start Style -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/plugins/swiper/css/swiper.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/plugins/nice_select/nice-select.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/plugins/player/volume.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'js/plugins/scroll/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Favicon Link -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">

</head>

<body>
<div class="ms_main_wrapper">
    <!---Side Menu Start--->
    <div class="ms_sidemenu_wrapper">
        <div class="ms_nav_close">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
        <div class="ms_sidemenu_inner">
            <div class="ms_logo_inner">
                <div class="ms_logo">
                    <a href="/musicplayer_app">
                        {% load static %}
                        <img src="{% static 'images/logo.png' %}" alt="" class="img-fluid"/></a>
                </div>
                <div class="ms_logo_open">
                    <a href="/musicplayer_app">
                        {% load static %}
                        <img src="{% static 'images/open_logo.png' %}" alt="" class="img-fluid"/></a>
                </div>
            </div>
            <div class="ms_nav_wrapper">
                <ul>
                    <li><a href="/musicplayer_app" title="Home">
						<span class="nav_icon">
							<span class="icon icon_discover"></span>
						</span>
                        <span class="nav_text">
							home
						</span>
                    </a>
                    </li>
<!--                    <li><a href="album.html" title="Albums">-->
<!--						<span class="nav_icon">-->
<!--							<span class="icon icon_albums"></span>-->
<!--						</span>-->
<!--                        <span class="nav_text">-->
<!--							albums-->
<!--						</span>-->
<!--                    </a>-->
<!--                    </li>-->
                    <li><a href="/artists" class="active" title="Artists">
						<span class="nav_icon">
							<span class="icon icon_artists"></span>
						</span>
                        <span class="nav_text">
							artists
						</span>
                    </a>
                    </li>
                    <li><a href="/genres" title="Genres">
						<span class="nav_icon">
							<span class="icon icon_genres"></span>
						</span>
                        <span class="nav_text">
							genres
						</span>
                    </a>
                    </li>
<!--                    <li><a href="top_track.html" title="Top Track">-->
<!--						<span class="nav_icon">-->
<!--							<span class="icon icon_tracks"></span>-->
<!--						</span>-->
<!--                        <span class="nav_text">-->
<!--							top tracks-->
<!--						</span>-->
<!--                    </a>-->
<!--                    </li>-->
<!--                    <li><a href="free_music.html" title="Free Music">-->
<!--						<span class="nav_icon">-->
<!--							<span class="icon icon_music"></span>-->
<!--						</span>-->
<!--                        <span class="nav_text">-->
<!--							free music-->
<!--						</span>-->
<!--                    </a>-->
<!--                    </li>-->
<!--                    <li><a href="stations.html" title="Stations">-->
<!--						<span class="nav_icon">-->
<!--							<span class="icon icon_station"></span>-->
<!--						</span>-->
<!--                        <span class="nav_text">-->
<!--							stations-->
<!--						</span>-->
<!--                    </a>-->
<!--                    </li>-->
                </ul>
                <ul class="nav_downloads">
<!--                    <li><a href="download.html" title="Downloads">-->
<!--						<span class="nav_icon">-->
<!--							<span class="icon icon_download"></span>-->
<!--						</span>-->
<!--                        <span class="nav_text">-->
<!--							downloads-->
<!--						</span>-->
<!--                    </a>-->
<!--                    </li>-->
                    {% if not is_listener %}
                    <li><a href="/get_assets" title="Get Royalty">
						<span class="nav_icon">
							<span class="icon icon_purchased"></span>
						</span>
                        <span class="nav_text">
							get royalty
						</span>
                    </a>
                    </li>
                    {% endif %}
<!--                    <li><a href="favourite.html" title="Favourites">-->
<!--						<span class="nav_icon">-->
<!--							<span class="icon icon_favourite"></span>-->
<!--						</span>-->
<!--                        <span class="nav_text">-->
<!--							favourites-->
<!--						</span>-->
<!--                    </a>-->
<!--                    </li>-->
<!--                    <li><a href="history.html" title="History">-->
<!--						<span class="nav_icon">-->
<!--							<span class="icon icon_history"></span>-->
<!--						</span>-->
<!--                        <span class="nav_text">-->
<!--							history-->
<!--						</span>-->
<!--                    </a>-->
<!--                    </li>-->
                </ul>
                <ul class="nav_playlist">
                    {% if not is_listener %}
                    <li><a href="/upload" title="Upload new Musicَ">
						<span class="nav_icon">
							<span class="icon icon_c_playlist"></span>
						</span>
						<span class="nav_text">
							Add new music
						</span>
						</a>
                    </li>
                    {% endif %}
                    {% if is_listener %}
                    <li><a href="/my_playlists">
						<span class="nav_icon">
							<span class="icon icon_fe_playlist"></span>
						</span>
                        <span class="nav_text">
							playlists
						</span>
                    </a>
                    </li>
                    <li><a href="/add_playlist" class="active">
						<span class="nav_icon">
							<span class="icon icon_c_playlist"></span>
						</span>
                        <span class="nav_text">
							create playlist
						</span>
                    </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

    <div class="ms_register_form">
        <h2>Get Royalty</h2>
        <form method="POST" action="{% url 'royalty' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" placeholder="Enter Your Card Number" class="form-control" name="card_number">
            </div>
            <input class="ms_btn" type="submit" value= "Get Royalty" />
            <button type="button" class="ms_btn" onclick="window.history.back();">Cancel</button>
        </form>
    </div>
</body>

</html>
